/* Add a black background color to the top navigation */
.topnav {
    background-color: #dcdbdb;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a, button.list-button {
    float: left;
    color: rgba(0, 0, 0, 0.9);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 5px;
}

/* Change the color of links on hover */
.topnav a:hover, button.list-button {
    background-color: #ddd;
    color: black;
}

.topnav button {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: white;
    color: rgba(0, 0, 0, 0.9);
}

/* Add a color to the active/current link */
.topnav a.main, button.active {
    background-color: #04AA6D;
}